[submodule "libxml2"]
	path = libxml2
	url = https://gitlab.gnome.org/GNOME/libxml2.git
[submodule "fuzzer-test-suite"]
	path = fuzzer-test-suite
	url = https://github.com/google/fuzzer-test-suite.git
